@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-weight: 400;
}

.input-login {
  height: 40px;
}

.input-login:focus {
  border-bottom: 1px solid rgb(53, 103, 255);
}

.vertical-nav {
  height: -webkit-fill-available;
}

.form-input {
  padding-top: 18px;
  transition: 0.25s ease;
}

.form-label {
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
}

.input-login:not(:placeholder-shown) + .label-login,
.input-login:focus + .label-login {
  top: 0;
  display: inline-block;
  transition: 0.25s ease;
  font-size: 14px;
}
